.carousel {
    text-align: center;
    display: flex;
}

.carousel-image img{
    max-width: 100%;
}

.cardInfo {
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px 0;
    background-image: url(./data/imgs/back.jpg);
    background-position: center;
    background-size: cover;
    display:flex;
    align-items: center;
    color: #262626;
}

.cardInfo img{
    padding: 20px;
}
.cardText{
    text-align: justify;
    padding: 0%;
}
.cardText > h1{
    font-weight: bold;
    color: #46acff;
    font-size: 35px;
}
.cardText > h2{
    font-weight: bold;
    color: #262626;
    margin: 15px 0;
}
.shortInfoWrap{
    background-color: #ddd;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0.5rem 0.5rem 2rem 0 rgba(0, 0, 0, 0.2);
}
.cardText p{
    font-weight: normal;
    color: #262626;
    font-size: 16px;
}

@media (max-width: 1024px) {
    .cardInfo {
        flex-direction: column;
        height: max-content;
    }
    .cardText {
        margin:auto ;
        margin-top: 0; 
        margin-bottom: 50px;       
    }
    .cardText h1 {
        text-align: center;
    }
    .cardText h2 {
        text-align: center;
    }
    .shortInfoWrap {
        height: max-content;
        margin:auto;
    }
}

.title2{
    text-align:left;
    font-weight: bold;
    color: #46acff;
    font-size: 35px;
    margin-top: 25px;
    margin-bottom: 45px;
    text-align: center;
}
.dopInfo{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(./data/imgs/back.jpg);
    background-position: center;
    background-size: cover;
    height: 600px;
    display:flex;
    flex-direction: row;
}
.Inner{
    font-size: 30px;

}
.dopInfo div, iframe{
    margin: 10px 0;
    width:500px;
    height:350px;
    display:flex;
    margin:auto;
    max-width:100%;
}

.map_info, .person-video {
    width:500px;
    height:350px;
}

@media (max-width: 1024px) {
    .video-wrapper{
        margin: auto;
        display: flex;
    }
    .dopInfo{
        flex-direction: column;        
        width: 100%;
        align-items: center;
    }
    .map_info{       
        margin: auto; 
        width: 90%;
    }      
}

.cardQuote{
    margin-left: auto;
    margin-right: auto;
    background-image: url(./data/imgs/backQuote.jpg);
    background-position: center;
    background-size: cover;
    padding: 50px 0 50px;
    display: flex;
    flex-direction: column;
    color: #262626;
}
.cardQuote div {
    background-color: #ddd;
    width: 50%;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0.5rem 0.5rem 2rem 0 rgba(0, 0, 0, 0.2);
    text-align:left;
    margin:auto;
}
.cardQuote div p {
    text-align: justify;
    font-weight: normal;
    color: #262626;
    font-size: 16px;
    margin:auto;   
}
.cardQuote div h6{
    text-align: right;
    font-weight: bold;
    color: #46acff;
    font-size: 16px;
    margin:auto;
    margin-top: 50px;
}
@media (max-width: 1024px) {

    .cardQuote{
        padding: 50px 15px 50px;
    }
    .cardQuote div {
        width: 100%;
    }
}